<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>score</key>
		<string>99</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>sitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsit</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>sitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsitsit</string>
	</dict>
	<dict>
		<key>score</key>
		<string>33</string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>pleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleaseplease</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>pleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleasepleaseplease</string>
	</dict>
	<dict>
		<key>score</key>
		<string>44</string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>sitsitsitsitsitsitsitsitsit</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>sitsitsitsitsitsitsitsitsit</string>
	</dict>
	<dict>
		<key>score</key>
		<string>323</string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>downdowndowndowndowndowndowndown</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>downdowndowndowndowndowndowndown</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
	<dict>
		<key>score</key>
		<string></string>
		<key>audio</key>
		<string>http://www.baidu.com</string>
		<key>duration</key>
		<string>651</string>
		<key>id</key>
		<string>254794</string>
		<key>real_text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
		<key>record_duration</key>
		<string>1651</string>
		<key>start</key>
		<string>20</string>
		<key>text</key>
		<string>excuseexcuseexcuseexcuseexcuseexcuse</string>
	</dict>
</array>
</plist>
